{% extends "base.html" %}
{% load static %}
{% block title %}Order{% endblock title %}

{% block content %}

<section style="height: 70vh;">
    <div class="">
        <div class="mt-5">
            <img src="{% static "images/order_success.gif" %}" alt="" class="d-block w-50 mx-auto">
        </div>
        <div class="text-center mt-3">
            <a class="btn btn-success" href={% url 'home' %}>Continue</a>
            <a class="btn btn-primary" href={% url 'orders' %}>Orders</a>
        </div>
    </div>

    
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

