{% extends "base.html" %}
{% load static %}
{% block title %}Order{% endblock title %}

{% block content %}

<section style="height: 80vh;">
    <div class="">
      <div class="text-center ">
        <h1 class="fw-lighter"> <span class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight">Order</span><span class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft"> Placed </span><span class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromTop"> Successfully...</span></h1>
      </div>
        <div class="mt-5">
            <img src="{% static "images/order_success.gif" %}" alt="" class="d-block w-50 mx-auto">
        </div>
        <div class="text-center mt-3">
            <a class="btn btn-success" href={% url 'home' %}>Continue</a>
            <a class="btn btn-primary" href={% url 'orders' %}>Orders</a>
        </div>
    </div>

    

</section>

{% endblock content %}

