{% extends 'base.html' %}
{% load static %}
{% block title %}ProductView{% endblock title %}
{% block content %}
<style>
    #cartbtn{
        background-color: rgb(55, 55, 55);
        height: 40px;
        color: white;
    }
    #cartbtn:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(55, 55, 55) ;
        height: 40px;
    }
</style>
<section class="container-fluid bg-dark">
    <div class="bg-white p-5 ">
        <div>
            {% if prod_series %}
                {% for items in prod_series %}
                    <a style="text-decoration: none;" href="{% url 'ProductSeriesShow' items.slug %}">
                        <div class="card" style="width: 18rem; background-color: transparent; color: rgb(0, 0, 0); border: none; border-radius: 100px 100px 100px 100px;">
                            <img src="{{items.image.url}}" class="card-img-top d-block w-100" alt="..." style=" border-radius: 100px 100px 100px 100px; box-shadow: 10px 10px 20px;">
                            <div class="card-body">
                              <h5 class="card-title text-center">{{items.name}}</h5>
                            </div>
                          </div>
                    </a>
                {% endfor %}
            {% endif %}   
            {% if category_series %}
                        {% for items in category_series %}
                            <a style="text-decoration: none; color:white;" href="{% url 'ProductSeriesShow' items.slug %}"><h6><li class="ms-3">{{items.name}}</li></h6></a>
                            <br>
                    {% endfor %}
            {% endif %}
        </div>
            <div class="row bg-white rounded mt-5">
                {% if product %}
                    {% for items in product %}
                        <div class="col-sm-6 ps-5" >
                            <div class="text-center ms-5  sticky-top">
                                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                    <div class="carousel-inner featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight">
                                      <div class="carousel-item active">
                                        <img src="{{items.image.url}}" class="d-block w-75 mt-5 " alt=""  style="mix-blend-mode: multiply;z-index: 0;">
                                    </div>
                                      <div class="carousel-item">
                                        <img src="{{items.image2.url}}" class="d-block w-75 mt-5 " alt=""  style="mix-blend-mode: multiply;z-index: 0;">
                                    </div>
                                      <div class="carousel-item">
                                        <img src="{{items.image3.url}}" class="d-block w-75 mt-5 " alt=""  style="mix-blend-mode: multiply;z-index: 0;">
                                    </div>
                                      <div class="carousel-item">
                                        <img src="{{items.image4.url}}" class="d-block w-75 mt-5 " alt=""  style="mix-blend-mode: multiply;z-index: 0;">
                                    </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Next</span>
                                    </button>
                                  </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="mt-5 text-start" style="font-family: 'Barlow', sans-serif;">{{items.name}}</h3>
                            <div>
                                <h2 class="text-start" style="margin-top: 8%;">Rs:{{items.disc_price}}/-</h2> <h4>Off <span class="text-danger">{{off_price|stringformat:'d'}}%</span> </h4>
                            </div>
                            <div>
                                <h5 class="text-danger"><strike>MRP:  {{items.org_price}}</strike></h5>
                                <h5>Saving Rs:{{disc_price}}/-</h5>
                            </div><br>
                            <div>
                                <h3 style="font-family: 'Barlow', sans-serif;">Features</h3><hr>
                            </div>
                            <div>
                                <h5 style="font-family: 'Barlow', sans-serif;">{{items.description}}</h5>
                            </div>
                            {% if not items.qty == 0 %}
                            <div class="text-start mt-5">
                                {% csrf_token %}
                                <input type="hidden" value={{items.id}} class="prod_id">
                                <button type="button" class="btn increment"><i class="fa-solid fa-plus"></i></button>
                                <input type="number" name="" class="prod_qty text-center" readonly value="1" style="width: 50px;"/>
                                <button type="button" class="btn decrement"><i class="fa-solid fa-minus"></i></button>
                            </div>
                            {% endif %}
                           <div class="pt-3">
                            {% if items.qty <= 5 and items.qty >= 1 %}
                            <h5 class="text-danger">hurry up only {{items.qty}} left!!!</h5>
                            
                            {% elif items.qty > 0 %}
                            <h5 class="text-success">Stock</h5>
                            {% endif %}
                           </div>
                            <div class="text-start mt-5 row ">
                                {% if items.qty == 0  %}
                                <input type="button" value="Out Of Stock" class="btn btn-danger">
                                {% else %}
                                <input type="button" value="Add To Cart" class="cart_btn">
                                {% endif %}
                                <input type="button" value="Wishlist" class="wishlist_btn mt-3" />
                            </div>
                            
                        </div>
                        <div style="height: 10vh;">
                        </div>
                        
                    {% endfor %}
                {% endif %}                
            </div>
        </div>
    </div> 
    <div>
        <div style="height:auto;" class="bg-white mt-5">
            {% if product %}
                {% for items in product %}
                    <div class="text-center">
                            <div class="">
                              <div class="">
                                <img src="{{items.image5.url}}" style="background-size: cover;" class="d-block w-100" alt="...">
                                <img src="{{items.image6.url}}" style="background-size: cover;" class="d-block w-100" alt="...">
                                <img src="{{items.image7.url}}" style="background-size: cover;" class="d-block w-100" alt="...">
                                <img src="{{items.image8.url}}" style="background-size: cover;" class="d-block w-100" alt="...">
                              </div>
                          </div>
                        </div>
                {% endfor %}
            {% endif %}
        </div>
        
    </div>
</section>

{% endblock content %}