{% extends 'base.html' %}
{% load static %}
{% block title %}Segments{% endblock title %}
{% block content %}

<div>
    <div class="p-5">
        {% if product %}
            {% for items in product %}
                <div class="mb-4 text-dark">
                    <h3>{{items.productsegment.name2}}</h3>                    
                </div>
            {% endfor %}
        {% endif %}
            <div class="" style="border-top: 2px solid black;">
                <div class="" style="display: flex;">
                    {% if product %}
                        <div class='row'>
                            {% for items in product %}
                                <div class='col-md-3 col-sm-5 '>
                                <div class="card d-block w-100 my-3 border-0" style="width: 18rem;">
                                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                            <img src="{{items.image.url}}" class="d-block w-100" alt="..." id="imgdiv">
                                            </div>
                                            <div class="carousel-item">
                                            <img src="{{items.image2.url}}" class="d-block w-100" alt="..." id="imgdiv">
                                            </div>
                                            <div class="carousel-item">
                                            <img src="{{items.image3.url}}" class="d-block w-100" alt="..." id="imgdiv">
                                            </div>
                                        </div>
                                        </div>
                                    <div class="card-body">
                                        <h6 class="card-title text-center">{{items.name}}</h6>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
            </div>
        </div>       
    </div>
</div>

{% endblock content %}